.product-card-layout{
    height: 27rem;
    width: 15rem;
}

.product-card-image-container{
    height: 18rem;
    width: 100%;
}

.product-card-image{
    height: 100%;
    width: 100%;
}

.discount-text{
    color: green;
    font-weight: 500;
}

.cart-add-btn{
    background-color: orange;
    padding: 0.4rem;
    font-weight: 500;
}

.wish-add-btn{
    background-color: purple;
    padding: 0.4rem;
    color: white;
    font-weight: 500;
}